@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.taskMain_container{
    height: 100vh;
}
.navbar_main{
    display: flex;
    flex-direction: row;
    background-color: #03254c;
    font-family: 'Montserrat', sans-serif;
    height: 9%;
    justify-content: space-between;
}
.nav_brand{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 50px;
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
    color: #d0efff;
}
.button_task,.button_logout,.button_note{
    font-size: 20px;
    margin-right: 50px;
}
.button_taskMain{
    width: fit-content;
    padding: 13px;
}
.contentMain{
    height: 91%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.notes_date_notification{
    width: 65%;
    margin-right: 5px;
}
.task_container{
    width: 35%;
    border: 1px solid blue;
    margin-left: 5px;
}
.date_notification{
    height: 40%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.note_container{
    height: 60%;
    border: 1px solid blue;
    margin-bottom: 10px;
}
.date_continer{
    height: 100%;
    width: 40%;
    border: 1px solid blue;
    margin-right: 5px;
}
.notification_continer{
    height: 100%;
    width: 60%;
    border: 1px solid blue;
    margin-left: 5px;
}
