@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.navbar_main{
    display: flex;
    flex-direction: row;
    background-color: #03254c;
    font-family: 'Montserrat', sans-serif;
    height: 55px;
    justify-content: space-between;
}
.nav_brand{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 50px;
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
    color: #d0efff;
}
.button_task,.button_logout,.button_note{
    font-size: 20px;
    margin-right: 50px;
}
.button_taskMain{
    width: fit-content;
    padding: 13px;
}
